{% autoescape off %}
Hola {{ user.get_username }},

Has solicitado restablecer tu contraseña para tu cuenta en Torres del Maurel. Si no fuiste tú quien solicitó este cambio, por favor ignora este correo.

Para restablecer tu contraseña, por favor visita el siguiente enlace:

{{ reset_url }}

Este enlace es válido por 24 horas. Después de este tiempo, deberás solicitar un nuevo enlace de restablecimiento.

Si tienes problemas para restablecer tu contraseña, por favor contacta a algun administrador.

Este es un correo automático, por favor no respondas a esta dirección.

© {% now "Y" %} Torres del Maurel. Todos los derechos reservados.
{% endautoescape %}